/* colours */
$black: #000000;
$white: #ffffff;
$red: #ec0000;

/* font size configs */
$baseFontSize: 1.5rem;
$h1Size: 4.0rem;
$h2Size: 3.5rem;
$h3Size: 3.0rem;
$h4Size: 2.5rem;

/* app fonts */
$headingFont: 'Noto Serif', serif;
$bodyFont: 'Noto Sans JP', sans-serif;
