{
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".scss", ".js", ".jsx"],
        "alias": {
          "@commonStyles": "./src/common-styles"
        }
      }
    ]
  ]
}
