{
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".scss", ".js", ".jsx"],
        "alias": {
          "@commonStyles": "./src/common-styles",
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@appIcons": "./src/assets/icons",
          "@appImages": "./src/assets/images",
          "@appSounds": "./src/assets/sounds",
          "@appVideos": "./src/assets/videos"
        }
      }
    ]
  ]
}
