@import "src/common-styles/variables.scss";
@import "src/common-styles/mixins.scss";

.card {
  padding: 10px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .card {
    padding: 15px;
  }
}
@media only screen and (min-width: 992px) {
  .card {
    padding: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .card {
    padding: 30px;
    .image {
      @include app-transition(all, 0.1s, linear);
      img {
        border-radius: 10px;
        position: relative;
        z-index: 1;
        background: $white;
      }
    }
    .image:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-radius: 50%;
      background: #e0e0e0;
      z-index: 0;
      opacity: 0.25;
      @include app-transition(all, 0.5s, linear);
    }
  }
  .card:hover {
    .image {
      transform: translateY(-25px) scale(1.1);
      -webkit-transform: translateY(-25px) scale(1.1);
    }
    .image:before {
      width: 250px;
      height: 250px;
    }
  }
}
