@import "src/common-styles/variables.scss";
@import "src/common-styles/mixins.scss";

.card {
  padding: 25px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  .image {
    img {
      transform: scale(1.6);
      -webkit-transform: scale(1.6);
    }
  }
  .image:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #aaa;
    z-index: 0;
    opacity: 0.25;
  }
  .image:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #aaa;
    z-index: 0;
    opacity: 0.25;
  }
  .lockIcon {
    cursor: pointer;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ff00e9;
  }
  .lockIcon.locked {
    background: #3cff00;
  }
}
@media only screen and (min-width: 768px) {
  .card {
    padding: 15px;
    border: 0;
    .image {
      margin-top: 10px;
      img {
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
      }
    }
    .lockIcon {
      top: -5px;
    }
  }
}
@media only screen and (min-width: 992px) {
  .card {
    padding: 20px;
    .image {
      height: 200px;
    }
    .lockIcon {
      top: 2px;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .card {
    padding: 30px;
    .image {
      @include app-transition(all, 0.1s, linear);
      img {
        position: relative;
        z-index: 1;
      }
    }
    .image:before,
    .image:after {
      @include app-transition(all, 0.25s, linear);
    }
    .image:before {
      transition-delay: 0.15s;
    }
    .lockIcon {
      top: 5px;
      z-index: 5;
      width: 40px;
      height: 40px;
    }
  }
  .card:hover {
    .image {
      transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
    }
    .image:before {
      width: 130px;
      height: 130px;
    }
    .image:after {
      width: 150px;
      height: 150px;
    }
  }
}
