@import "src/common-styles/variables.scss";
@import "src/common-styles/mixins.scss";

.card {
  padding: 10px;
  margin-bottom: 20px;
  .image {
    height: 100px;
  }
  .lockIcon {
    cursor: pointer;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ff00e9;
  }
  .lockIcon.locked {
    background: #3cff00;
  }
}
@media only screen and (min-width: 768px) {
  .card {
    padding: 15px;
    .image {
      height: 150px;
    }
    .lockIcon {
      top: -5px;
    }
  }
}
@media only screen and (min-width: 992px) {
  .card {
    padding: 20px;
    .image {
      height: 200px;
    }
    .lockIcon {
      top: 2px;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .card {
    padding: 30px;
    .image {
      height: 250px;
      @include app-transition(all, 0.1s, linear);
      img {
        border-radius: 10px;
        position: relative;
        z-index: 1;
        background: $white;
      }
    }
    .image:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-radius: 50%;
      background: #aaa;
      z-index: 0;
      opacity: 0.25;
      @include app-transition(all, 0.25s, linear);
    }
    .lockIcon {
      top: 5px;
      z-index: 5;
      width: 40px;
      height: 40px;
    }
  }
  .card:hover {
    .image {
      transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
    }
    .image:before {
      width: 250px;
      height: 250px;
    }
  }
}
