/* app imports */
@import "src/common-styles/variables.scss";

.appFooter {
  padding: 60px 20px;
  background: $black;
  .borderBoxContainer {
    .text {
      max-width: 450px;
      h4 {
        color: #ddd;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 23px;
        margin: 0 0 20px;
        letter-spacing: -1px;
      }
      p {
        font-size: 0.9rem;
        color: #aaa;
        line-height: 22px;
        margin: 0;
      }
    }
    .creativeList {
      margin-bottom: 0;
      flex-direction: row;
      li {
        img {
          width: 100px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .appFooter {
    .borderBoxContainer {
      max-width: 700px;
      margin: 0 auto;
      .text {
        width: 50%;
        float: left;
      }
      .creativeList {
        margin-top: 0;
        width: 50%;
        float: right;
        justify-content: flex-end;
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .appFooter {
    .borderBoxContainer {
      max-width: 900px;
      margin: 0 auto;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .appFooter {
    .borderBoxContainer {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
