@import "src/common-styles/variables.scss";

.appSuccess {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: $white;
  background-size: cover !important;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .posContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 270px;
    text-align: center;
    border: 1px solid $white;
    padding: 25px 16px;
    span {
      font-size: 3.5rem;
      letter-spacing: 6px;
      color: $white;
      text-transform: uppercase;
      font-weight: 800;
      display: block;
      margin-bottom: 30px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: $white;
      -webkit-text-stroke-width: 2px;
    }
    .btn-dark {
      padding: 0 20px 2px;
      line-height: 45px;
      font-size: 0.9rem;
      font-weight: 800;
      width: 100%;
      border-radius: 0;
      background: $red;
      border-color: $red;
    }
  }
}
